<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<style>

		</style>
	</head>
	<body>
		<div id="app">
			姓：<input type="text" v-model="fistName"> <br />
			名：<input type="text" v-model="lastName"><br />
			全名：<span>{{fullName()}}</span>
		</div>
		<script src="js/vue.js"></script>
		<script>
			Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

			const vm = new Vue({
				// el:'#app',
				data: {
					fistName: '张',
					lastName: '三'
				},
				methods: {
					fullName() {
						// 每调用一次就会执行一次，vue开销会比较大
						console.log('@fullName');
						return this.fistName + '-' + this.lastName
					}
				}
			}).$mount('#app')
		</script>
	</body>
</html>
