*{
	margin: 0;
	padding: 0;
}
body {
	/*CSS3盒子模型*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*点击高亮我们需要清除清除  设置为transparent 完成透明*/
	-webkit-tap-highlight-color: transparent;
	/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
	-webkit-appearance: none;
	/*禁用长按页面时的弹出菜单*/
	-webkit-appearance: none;
	
	margin: 0 auto;
	background-color: #F6F6F6;
	min-width: 320px;
	max-width: 640px;

	color: #666;
	font-size: 14px;
	font-family: "ya-apple-system", "microsoft yahei", "Helvetica", "sans-serif";
	line-height: 1.5;
	height: 1500px;
}
.w{
	min-width: 320px;
	max-width: 640px;
}

img,
a {
	-webkit-touch-callout: none;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/* 清除浮动 */
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}

.clearfix {
	*zoom: 1
}

.p_width{
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	padding: 0 12px;
}