/* 第一部分 开始 */
/* .slider_banner 开始 */
.slider_banner {
	position: relative;
	float: left;
	margin: 10px 10px 0 10px;
	width: 712px;
	height: 455px;
}

.slider_banner img {
	width: 712px;
	height: 455px;
}

/* .slider_banner 结束 */

/* 快报 start */
.P_news {
	position: relative;
	float: left;
	margin-top: 10px;
	width: 246px;
	height: 372px;
	background-color: #ffffff;
}
/* 标题部分 */
.news_hd {
	height: 157px;
	line-height: 34px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.news_title {
	height: 34px;
	line-height: 34px;
	color: #666666;
	border-bottom: 1px dotted #ccc;
}

.news_title h5 {
	float: left;
	margin-left: 14px;
	font-size: 14px;
	font-weight: 400;
}

.news_title span {
	float: right;
	margin-right: 14px;
	font-size: 12px;
	font-weight: 400;
}

.news_title span::after {
	content: "\ea50";
	float: right;
	font-family: 'icomoon';
	font-size: 12px;
	line-height: 36px;
}
/* 快报内容 */
.news_hd .news_content{
	height: 122px;
	padding: 0 12px;
}

.news_content a{
	display: block;
	margin-bottom: 8px;
	height: 14px;
	font-size: 12px;
	color: #666666;
}

.news_content strong {
	font-weight: 500;
}

/* icon 列表 */
.icon_list{
	overflow: hidden;
	height: 208px;
	border: 1px solid #ccc;	
	border-top: none;
	border-left: none;
}

.icon_list ul{
	width: 251px;
}
.icon_list li{
	float: left;
	width: 61px;
	height: 69px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.icon_list li i{
	display: block;
	font-size: 10px;
	color: #333;
	line-height: 8px;
	
}
.icon_list li i::before{
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	margin: 14px auto;
	font-size: 14px;
	background: url(../img/icons.png) no-repeat;
}	

.icon_list li i:nth-of-type(1)::before{
	background-position: -17px -16px;
}

.icon_list li i:nth-of-type(2)::before{
	background-position: -78px -16px;
}



.b_gg{
	overflow: hidden;
	float: left;
	margin-top: 5px;
	width: 246px;
	height: 75px;
}
.b_gg img{
	width: 246px;
}

/* 快报 end */
/* 第一部分 结束 */
