/* banner图上的 左右箭头 开始 */
.slider_banner .arr-l,
.slider_banner .arr-r {
	font-family: 'icomoon';
	display: block;
	width: 21px;
	height: 31px;
	color: rgba(255, 255, 255, .8);
	font-size: 20px;
	background-color: rgba(0, 0, 0, .15);
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

.arr-l {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -14px;
	padding-left: 3px;
	border-radius: 0 14px 14px 0;

}

.arr-r {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -14px;
	padding-right: 3px;
	border-radius: 14px 0 0 14px;
}

.arr-l:hover,
.arr-r:hover {
	background-color: rgba(0, 0, 0, .8);
}

/* banner图上的 左右箭头 end */


/* 底部小圆点 开始*/
.huadong {
	position: absolute;
	bottom: 20px;
	left: 30px;
	width: 113px;
	height: 15px;
}

.huadong li {
	float: left;
	margin: 2px 2px;
	line-height: 15px;
	border-radius: 50%;
}

.huadong li a {
	position: relative;
	display: block;
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, .4);
	/* background-color: #FFFFFF; */
	border-radius: 50%;
}

.huadong li a:hover {
	margin-top: -2px;
	/* line-height: 11px; */
	width: 6px;
	height: 6px;
	background-color: #FFFFFF;
	border: 3px solid rgba(0, 0, 0, .5);
	transform: scale(1.2);
}
/* 底部小圆点 结束*/